[submodule "cmake/FindMathematica"]
	path = cmake/FindMathematica
	url = https://github.com/sakra/FindMathematica.git
[submodule "ext/omw"]
	path = ext/omw
	url = https://gitlab.inria.fr/vtaverni/omw.git
